* {
    margin: 0;
    padding: 0;
}
.contianer {
    background-color: #abcccc;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 1rem;
    width: 42rem;
}
.btn {
    width: 6rem;
    height: 2rem;
    background-color: aquamarine;
    border-radius: 12px;
    position: relative;
    left: 44%;
    font-family: 'FontAwesome';
    cursor: pointer;
}
.back {
    position: relative;
    right: -47%;
    top: .4rem;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}
.md {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 4rem;   
    display: none;
    position: fixed;
    width: 100%;
}
.para {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;;
}
@media screen and(max-width:675px) {
    .contianer {
        width: 100%;
    }
}